<div class="card">
  <div class="card-body">
    <h4>New comment</h4>
    <%= form_with model: comment do |f| %>
      <div>
        <%= f.text_area :content, class: "form-control", placeholder: "Write your comment...", autocomplete: 'off' %>
      </div>

      <%= f.hidden_field :commentable_type %>
      <%= f.hidden_field :commentable_id %>

      <%= f.submit class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
</div>
