<% post ||= @post %>

<%= form_with model: post do |f| %>
  <% f.object.errors.full_messages.each do |message| %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
  <% end %>
  <div class="d-grid gap-2">
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <div>
      <%= f.label :status %>
      <%= f.select :status, Post.statuses.map{ |key, value| [key.capitalize, key] }, { prompt: "No selection" },
                   class: "form-control" %>
    </div>

    <div>
      <%= f.fields_for :sections do |section_f| %>
        <div>
          <%= section_f.label :content %>
          <%= section_f.text_area :content, class: 'form-control' %>
        </div>
      <% end %>
    </div>

    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
