<% post ||= @post %>

<%= form_with model: post, data: { controller: "form", form_title_value: post.title } do |f| %>
  <% f.object.errors.full_messages.each do |message| %>
    <div class="alert alert-danger">
      <%= message %>
    </div>
  <% end %>
  <div class="d-grid gap-2">
    <button type="button" data-action="form#clearTitle" class="btn btn-secondary my-2">Clear title</button>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", data: { action: "form#enableSubmitButton", form_target: "input titleInput" } %>
    </div>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control", data: { action: "form#enableSubmitButton", form_target: "input" } %>
    </div>
    <div>
      <%= f.label :status %>
      <%= f.select :status, Post.statuses.map{ |key, value| [key.capitalize, key] }, { prompt: "No selection" },
                   class: "form-control" %>
    </div>

    <div>
      <h5>Sections</h5>
      <div id="sections">
        <%= f.fields_for :sections, f.object.sections do |section_f| %>
          <%= render "sections/fields", f: section_f %>
        <% end %>
      </div>
      <%= link_to "Add section", new_post_section_path(post), data: { turbo_stream: true, disable_with: "Loading" } %>
    </div>

    <%= f.submit class: "btn btn-primary", disabled: true, data: { form_target: "submitButton", turbo: false } %>
  </div>
<% end %>
