<div class="col-lg-6">
  <div class="card mb-3">
    <div class="card-body">
      <%= turbo_frame_tag post do %>
        <h2><%= post.title %></h2>
        <p class="text-muted small">by: <%= post.user_email %></p>
        <%= link_to "Read more", post_path(post), class: "btn btn-link" %>
        <%= link_to "Edit post", edit_post_path(post) if current_user.present? && current_user == post.user %>
      <% end %>
    </div>
  </div>
</div>
