 <div class="container pt-4">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1><%= @post.title %></h1>
      <%= simple_format @post.content %>

      <% @post.sections.each do |section| %>
        <%= simple_format section.content %>
      <% end %>
      <hr>
      <div class="d-flex justify-content-between">
        <%= link_to "Edit post", edit_post_path(@post) %>
        <%= button_to "Delete post", post_path(@post), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
